<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggelSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="row mr-2 ml-auto">
        
            <ul>                         
                <li>
                    <div class=" mt-2 d-flex align-items-center"> 
                        <mat-icon>search</mat-icon> &nbsp;

                        <mat-icon>notifications</mat-icon> &nbsp;
                        <mat-icon>question_answer</mat-icon> &nbsp;
                        <mat-icon>shopping_cart</mat-icon>
 
                    <button mat-button [matMenuTriggerFor]="menu" class="user">
                        <img src="../../assets/default-person.png" class="user-image mr-1 p-2"> User Name
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon class="user-image-icon ml-1">exit_to_app</mat-icon> Logout
                        </button>
                    </mat-menu>
                </li>
                
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>