<div class="profile_container">
    <div class="d-flex flex-column align-items-center">
        <div class="p-2"> 
             <img src="../../assets/default-person.png" class="user-profile-image mr-1 p-2">
        </div>
        <div class="p-2 name">Jhon Doe</div>
        <div class="role">Sr. IOS Developer</div>
        <div class="profile-text text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>

        <div class="p-4">
            <app-profile-quick-links></app-profile-quick-links>
        </div>


    </div>

</div>
