<mat-card>
    <mat-card-title>{{titleCard_C1}}</mat-card-title> 
    <mat-card-content>
        <p>Marketing</p>
            <mat-progress-bar mode="determinate" value="72"></mat-progress-bar>    
        <br>                    
        <p>Advertisement</p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>   
        <br>
        <p>Counseling</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>   
        <br>
        <p>Development</p>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>   

    </mat-card-content>
</mat-card>