<mat-nav-list>
    <div class="logo py-4">Logo</div>
    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>apps</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>email</mat-icon> Email
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>headset_mic</mat-icon> Chat
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>description</mat-icon> Notes
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>insights</mat-icon> Chart
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>headset_mic</mat-icon> Contacts
    </a>
</mat-nav-list>