<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-incombox></app-incombox>
        </div>
        <div class="col-md-6">
            <app-tablebox></app-tablebox>          
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex email-box">
                <div class="p-2 text-center align-items-center d-flex justify-content-center icon_box_email">
                    <mat-icon>email</mat-icon>
                </div>
                <div class="d-flex flex-column p-2 justify-content-center">
                    <span>210</span> 
                    <span>Unread Email</span>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-3">
            <div class="d-flex image-box">
                <div class="p-2 text-center align-items-center d-flex justify-content-center icon_box_email">
                    <mat-icon>camera_alt</mat-icon>
                </div>
                <div class="d-flex flex-column p-2 justify-content-center">
                    <span>210</span> 
                    <span>Image Uploaded</span>
                </div>
            </div>

        </div>
        
        <div class="col-md-3">
            <div class="d-flex message-box">
                <div class="p-2 text-center align-items-center d-flex justify-content-center icon_box_email">
                    <mat-icon>forum</mat-icon>
                </div>
                <div class="d-flex flex-column p-2 justify-content-center">
                    <span>210</span> 
                    <span>Total Message</span>
                </div>
            </div>

        </div>
        
        <div class="col-md-3">
            <div class="d-flex post-box">
                <div class="p-2 text-center align-items-center d-flex justify-content-center icon_box_email">
                    <mat-icon>local_grocery_store</mat-icon>
                </div>
                <div class="d-flex flex-column p-2 justify-content-center">
                    <span>210</span> 
                    <span>Orders Post</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-incombox-cards></app-incombox-cards>
        </div>
        <div class="col-md-3">
            <app-incombox-cards></app-incombox-cards>
        </div>
        <div class="col-md-3">
            <app-incombox-cards></app-incombox-cards>
        </div>
        <div class="col-md-3">
            <app-incombox-cards></app-incombox-cards>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6"><app-small-boxes>
                    <span icon_name>forum</span>
                    <span  count>110</span>
                    <span desc_text>New Messages</span>

                </app-small-boxes></div>
                <div class="col-sm-6">
                    <app-smallbox-four-opt>
                        <span card_icon>cloud_download</span>
                        <span card_header>Download</span>
                        <span  percent>52% complete</span>
                        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                    </app-smallbox-four-opt>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6"><app-small-boxes>
                    <span icon_name>audiotrack</span>
                    <span count>100%</span>
                    <span desc_text>Volume</span></app-small-boxes></div>

                <div class="col-sm-6"><app-smallbox-four-opt>
                    <span card_icon>live_help</span>
                    <span card_header>Support</span>
                        <span  percent>82% complete</span>
                        <mat-progress-bar mode="determinate" value="82"></mat-progress-bar>
                </app-smallbox-four-opt></div>
            </div>

            <div class="row">
                <div class="col-sm-6"><app-small-boxes>
                    <span icon_name>emoji_events</span>
                    <span count>137</span>
                    <span desc_text>Achievement</span>
                </app-small-boxes></div>
                <div class="col-sm-6"><app-smallbox-four-opt>
                    <span card_icon>cloud_upload</span>
                    <span card_header>Upload</span>
                        <span  percent>65% complete</span>
                        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                </app-smallbox-four-opt></div>
            </div>
        </div>
        <div class="col-md-6">
            <app-chart-one></app-chart-one>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <app-chart-two></app-chart-two>
        </div>
        <div class="col-md-6">
            <app-chart-two></app-chart-two>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <app-profile-box></app-profile-box>
        </div>
        <div class="col-md-4">
            <app-chart-three></app-chart-three>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 dashboard_footer">
            <div class="d-flex flex-column text-center p-2">2022 Created by Siddharth</div>
        </div>
    </div>
</div>